  body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  h1{
    font-size: 3.5rem;
    color: #4ea0ae;
    font-family: 'Sacramento', cursive;
    margin-top: 0;
    margin: 0 auto;
  }
  h2{
    font-size: 20px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    width: 8rem;
  }
  h3{
    font-family: 'Montserrat', sans-serif;
  }
  h4{
  color: #4ea0ae;
  font-size: 1.4rem;
  font-family: 'Lemonada', cursive;
  }
  img{
    margin-top: 14px;
    width: 170px;
  }
  p{
    color: #005086;
    font-size: 20px;
    font-family: 'Lemonada', cursive;
  }
  .fixedbar{
    position: absolute;
    background-color: #b7efcd;
    height: 140px;
    width: 100%;
    top: 0;
    margin-top: 70px;
  }
  .fixedchild{
    display: inline-block;
    margin-left: 950px;
  }
  .top-container{
    background-color: #b7efcd;
    position: relative;
    padding-top: 18%;
    }
  .middle-container{
background-color: #b7efcd;
  }
  .bottom-container{
background-color: #b7efcd;
  }
.top-cloud{
  width: 240px;
  position: absolute;
  right: 300px;;
  top: 24%;
}
.bottom-cloud{
  width: 240px;
  position: absolute;
  left: 300px;
  bottom: 300px;
}
